CREATE TABLE [dbo].[TB_Nomes] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[NOME] [varchar] (30) COLLATE Latin1_General_CI_AS NULL ,
	[SEXO] [char] (1) COLLATE Latin1_General_CI_AS NULL 
) ON [PRIMARY]
GO


